﻿@{ 
    ViewData["Title"] = "Index";
}

<h1>Rutinas</h1>
<div class="row my-3">
    <a href="/Rutina/Create" class="btn btn-warning">Nueva Rutina</a>
</div>
<div class="row">
    <table class="table table-bordered">
        <thead>
        <th>Id</th>
        <th>Nombre</th>
        <th>Opciones</th>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id </td>
                    <td>@item.Nombre</td>
                    <td><a href="/Rutina/Index?id_rutina=@item.Id">ver</a> </td>
                </tr>
            }
        </tbody>
    </table>
</div>