﻿@{

}
<h2>Crear Usuario</h2>
<div class="row">
    <div class="col-md-6">
        <form action="/Auth/Registro" method="post">
            <div class="form-group">
                <label>Nombre</label>
                <input type="text" class="form-control" name="Nombre" value="@Model.Nombre" />
                @Html.ValidationMessage("Nombre")
            </div>
           
            <div class="form-group">
                <label>Contraseña</label>
                <input type="password" class="form-control" name="Password" placeholder="Contraseña" />
                @Html.ValidationMessage("Pass")
            </div>
            <button class="btn btn-primary">Guardar</button>
            <a href="/Home/index" class="btn btn-primary" role="button">Cancelar</a>
        </form>
    </div>

</div>
