﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <a href="/Auth/Login" class="mr-5 btn btn-primary">Login</a>
    <a href="/Auth/Registro" class="btn btn-success">Registrarse</a>
</div>
